
html, body { 
    font-family:'Roboto', Courier, monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.mainContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    transition: 0.1s;
}

.title {
    text-align: center;
    user-select: none;
}

.inputContainer {
    display: flex;
    padding: 10px;
}

.listContainer {
    padding: 10px;
    flex-grow: 1;
}

#textInput {
    flex-grow: 5;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightgray;
    padding-left: 15px;
    transition-duration: 0.5s;
}

#textInput:focus {
    border: 1px solid tomato;
}

#textInput:hover {
    border: 1px solid tomato;
}

#addButton {
    flex-grow: 2;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

#addButton:hover {
    border: solid 1px tomato;
    cursor: pointer;
}
#addButton:active {
    border: solid 1px tomato;
    background-color: tomato;
}

#gameList {
    columns: 2;
    column-gap: 5px;
    list-style: none;
    padding: 0;
}

#gameList li {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 10px;
    height: 22px;
    vertical-align: middle;
    break-inside: avoid;
    position: relative;
    display: flex;
    margin-bottom: 5px;
    user-select: none;
    transition-duration: 0.2s;
}

#gameList li:hover {
    border: solid 1px tomato;
}

#gameList li:hover .close {
    visibility: visible;
    min-width: 20px;
    margin-left: 5px;
    color: black;
}

.close {
    float: right;
    min-width: 0;
    width: 0;
    border: solid lightgray 1px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    visibility: hidden;
    color: white;
    transition-duration: 0.05s;
    transition-delay: 0.05s;
    transition-property: color;
    transition-property: min-width;
    transition-delay: 0s;
    transition-duration: 0.1s;
}

.close:hover {
    border: 1px solid tomato;
    cursor: pointer;
}

.close:active {
    border: 1px solid tomato;
    background-color: tomato;
    cursor: pointer;
}

.listContent {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    
}

.bottomContainer {
    height: 100px;
    margin: auto auto;

}

#rollButton {
    width: 80px;
    height: 40px;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 5px;
    transition-duration: 0.5s;
}

#rollButton:hover {
    cursor: pointer;
    border: 1px solid tomato;
}

#rollButton:active {
    cursor: pointer;
    border: 1px solid tomato;
    background-color: tomato;
}

.alert {
    background-color: tomato;
    min-height: 30px;
    border-radius: 5px;
    padding: 15px;
}

.alertClose {
    float: right;
    width: 18px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 0.2s;
    user-select: none;
}

.alertClose:hover {
    border: 1px solid white;

    background-color: white;
    cursor: pointer;
}

.alertClose:active {
    border: 1px solid tomato;
}
.popup {
    position: absolute;
    z-index: 3;
    left: 10%;
    right: 10%;
    top: 30%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 200px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
     /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.329); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.popupTitle {
    text-align: center;
}

.popupButton {
    width: 80px;
    height: 40px;
    margin-left: 50%;
    transform:translateX(-40px) translateY(80px);
    background-color: white;
    border: lightgray solid 1px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.popupButton:hover {
    cursor: pointer;
    border: 1px solid tomato;
}

.popupButton:active {
    cursor: pointer;
    border: 1px solid tomato;
    background-color: tomato;
}