
html, body { 
    font-family:'Roboto', Courier, monospace;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.mainContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    transition: 0.1s;
}

.title {
    text-align: center;
    user-select: none;
}

.inputContainer {
    display: flex;
    padding: 10px;
}

.listContainer {
    padding: 10px;
    flex-grow: 1;
}

#textInput {
    flex-grow: 5;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightgray;
    padding-left: 15px;
    transition-duration: 0.5s;
}

#textInput:focus {
    border: 1px solid tomato;
}

#textInput:hover {
    border: 1px solid tomato;
}

#addButton {
    flex-grow: 2;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}

#addButton:hover {
    border: solid 1px tomato;
    cursor: pointer;
}
#addButton:active {
    border: solid 1px tomato;
    background-color: tomato;
}

#gameList {
    columns: 2;
    list-style: none;
    padding: 0;
}

#gameList li {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 10px;
    height: 22px;
    vertical-align: middle;
    break-inside: avoid;
    position: relative;
    display: flex;
    margin-bottom: 5px;
    user-select: none;
    transition-duration: 0.5s;
}

#gameList li:hover {
    border: solid 1px tomato;
}

#gameList li:hover .listContent {
    text-align: left;
}


#gameList li:hover .close {
    visibility: visible;
    min-width: 20px;
    margin-left: 5px;
    color: black;
}

.close {
    float: right;
    min-width: 0;
    width: 0;
    border: solid lightgray 1px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    visibility: hidden;
    color: white;
    transition-duration: 0.2s;
}

.close:hover {
    border: 1px solid tomato;
    cursor: pointer;
}

.close:active {
    border: 1px solid tomato;
    background-color: tomato;
    cursor: pointer;
}

.listContent {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    
}

.bottomContainer {
    height: 100px;
    margin: auto auto;

}

#rollButton {
    width: 80px;
    height: 40px;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 5px;
    transition-duration: 0.5s;
}

#rollButton:hover {
    cursor: pointer;
    border: 1px solid tomato;
}

#rollButton:active {
    cursor: pointer;
    border: 1px solid tomato;
    background-color: tomato;
}
